In [1]:
import pandas as pd
import os

In [2]:
%%time
device_data = pd.read_csv("d:\\r4.2/device.csv")
email_data = pd.read_csv("d:\\r4.2/email.csv")
file_data = pd.read_csv("d:\\r4.2/file.csv")
logon_data = pd.read_csv("d:\\r4.2/logon.csv")
psychometric_data = pd.read_csv("d:\\r4.2/psychometric.csv")

device_data.to_pickle("./device.pkl")
email_data.to_pickle("./email.pkl")
file_data.to_pickle("./file.pkl")
logon_data.to_pickle("./logon.pkl")
psychometric_data.to_pickle("./psychometric.pkl")

Wall time: 40 s

In [81]:
%%time
device = pd.read_pickle("./device.pkl")
email = pd.read_pickle("./email.pkl")
file = pd.read_pickle("./file.pkl")
logon = pd.read_pickle("./logon.pkl")
psychometric = pd.read_pickle("./psychometric.pkl")

Wall time: 9.22 s

In [2]:
%%time
http = pd.read_csv("d:\\r4.2/http.csv")

Wall time: 32min 33s

In [24]:
http.head(1)

,id,date,user,pc,url,content
0,{V1Y4-S2IR20QU-6154HFXJ},01/02/2010 06:55:16,LRR0148,PC-4275,http://msn.com/The_Human_Centipede_First_Seque...,remain representatives consensus concert altho...

In [25]:
device.head(1)

                         id                 date     user       pc activity
0  {J1S3-L9UU75BQ-7790ATPL}  01/02/2010 07:21:06  MOH0273  PC-6699  Connect

In [26]:
email.head(1)

,id,date,user,pc,to,cc,bcc,from,size,attachments,content
0,{R3I7-S4TX96FG-8219JWFF},01/02/2010 07:11:45,LAP0338,PC-5758,Dean.Flynn.Hines@dtaa.com;Wade_Harrison@lockhe...,Nathaniel.Hunter.Heath@dtaa.com,NaN,Lynn.Adena.Pratt@dtaa.com,25830,0,middle f2 systems 4 july techniques powerful d...

In [27]:
file.head(1)

,id,date,user,pc,filename,content
0,{L9G8-J9QE34VM-2834VDPB},01/02/2010 07:23:14,MOH0273,PC-6699,EYPC9Y08.doc,D0-CF-11-E0-A1-B1-1A-E1 during difficulty over...

In [28]:
logon.head(1)

                         id                 date     user       pc activity
0  {X1D9-S0ES98JV-5357PWMI}  01/02/2010 06:49:00  NGF0157  PC-6056    Logon

In [29]:
psychometric.head(1)

      employee_name  user_id   O   C   E   A   N
0  Calvin Edan Love  CEL0561  40  39  36  19  40

**Lets consider datas from the following users only,**
1. EDB0714
2. HXL0968
3. TNM0961
4. MOH0273

In [83]:
# execute if needed or executing for the first time

#add users if needed
users = [['U1','EDB0714'],
         ['U2','HXL0968'],
         ['U3','TNM0961'],
         ['U4','MOH0273']]

#create respective folders for each user under a common folder data
    #check if path exist --  if not create one
for user in users:
    path='./data/'+str(user[1])
    if (os.path.isdir(path))!=True:
        os.makedirs(path)

In [82]:
# execute if needed or executing for the first time

# User 1 - EDB0714
U1_device = device.loc[device['user']=='EDB0714']
U1_email = email.loc[email['user']=='EDB0714']
U1_http = http.loc[http['user']=='EDB0714']
U1_file = file.loc[file['user']=='EDB0714']
U1_logon = logon.loc[logon['user']=='EDB0714']
U1_psychometric = psychometric.loc[psychometric['user_id']=='EDB0714']

        # Storing the data into .csv for further use
U1_device.to_csv("./data/EDB0714/U1_device.csv",index=False)
U1_email.to_csv("./data/EDB0714/U1_email.csv",index=False)
U1_http.to_csv("./data/EDB0714/U1_http.csv",index=False)
U1_file.to_csv("./data/EDB0714/U1_file.csv",index=False)
U1_logon.to_csv("./data/EDB0714/U1_logon.csv",index=False)
U1_psychometric.to_csv("./data/EDB0714/U1_psychometric.csv",index=False)


# User 2 - HXL0968

U2_device = device.loc[device['user']=='HXL0968']
U2_email = email.loc[email['user']=='HXL0968']
U2_http = http.loc[http['user']=='HXL0968']
U2_file = file.loc[file['user']=='HXL0968']
U2_logon = logon.loc[logon['user']=='HXL0968']
U2_psychometric = psychometric.loc[psychometric['user_id']=='HXL0968']

        # Storing the data into .csv for further use

U2_device.to_csv("./data/EDB0714/U1_device.csv",index=False)
U2_email.to_csv("./data/EDB0714/U1_email.csv",index=False)
U2_http.to_csv("./data/EDB0714/U1_http.csv",index=False)
U2_file.to_csv("./data/EDB0714/U1_file.csv",index=False)
U2_logon.to_csv("./data/EDB0714/U1_logon.csv",index=False)
U2_psychometric.to_csv("./data/EDB0714/U1_psychometric.csv",index=False)

# User 3 - TNM0961

U3_device = device.loc[device['user']=='TNM0961']
U3_email = email.loc[email['user']=='TNM0961']
U3_http = http.loc[http['user']=='TNM0961']
U3_file = file.loc[file['user']=='TNM0961']
U3_logon = logon.loc[logon['user']=='TNM0961']
U3_psychometric = psychometric.loc[psychometric['user_id']=='TNM0961']

        # Storing the data into .csv for further use

U3_device.to_csv("./data/EDB0714/U1_device.csv",index=False)
U3_email.to_csv("./data/EDB0714/U1_email.csv",index=False)
U3_http.to_csv("./data/EDB0714/U1_http.csv",index=False)
U3_file.to_csv("./data/EDB0714/U1_file.csv",index=False)
U3_logon.to_csv("./data/EDB0714/U1_logon.csv",index=False)
U3_psychometric.to_csv("./data/EDB0714/U1_psychometric.csv",index=False)

# User 4 - MOH0273

U4_device = device.loc[device['user']=='MOH0273']
U4_email = email.loc[email['user']=='MOH0273']
U4_http = http.loc[http['user']=='MOH0273']
U4_file = file.loc[file['user']=='MOH0273']
U4_logon = logon.loc[logon['user']=='MOH0273']
U4_psychometric = psychometric.loc[psychometric['user_id']=='MOH0273']

        # Storing the data into .csv for further use
U4_device.to_csv("./data/EDB0714/U1_device.csv",index=False)
U4_email.to_csv("./data/EDB0714/U1_email.csv",index=False)
U4_http.to_csv("./data/EDB0714/U1_http.csv",index=False)
U4_file.to_csv("./data/EDB0714/U1_file.csv",index=False)
U4_logon.to_csv("./data/EDB0714/U1_logon.csv",index=False)
U4_psychometric.to_csv("./data/EDB0714/U1_psychometric.csv",index=False)

In [43]:
# Reading the saved files for individual user

# User 1 - EDB0714
U1_device = pd.read_csv("./data/EDB0714/U1_device.csv")
U1_email = pd.read_csv("./data/EDB0714/U1_email.csv")
U1_http = pd.read_csv("./data/EDB0714/U1_http.csv")
U1_file = pd.read_csv("./data/EDB0714/U1_file.csv")
U1_logon = pd.read_csv("./data/EDB0714/U1_logon.csv")
U1_psychometric = pd.read_csv("./data/EDB0714/U1_psychometric.csv")

# User 2 - HXL0968
U2_device = pd.read_csv("./data/HXL0968/U2_device.csv")
U2_email = pd.read_csv("./data/HXL0968/U2_email.csv")
U2_http = pd.read_csv("./data/HXL0968/U2_http.csv")
U2_file = pd.read_csv("./data/HXL0968/U2_file.csv")
U2_logon = pd.read_csv("./data/HXL0968/U2_logon.csv")
U2_psychometric = pd.read_csv("./data/HXL0968/U2_psychometric.csv")

# User 3 - TNM0961
U3_device = pd.read_csv("./data/TNM0961/U3_device.csv")
U3_email = pd.read_csv("./data/TNM0961/U3_email.csv")
U3_http = pd.read_csv("./data/TNM0961/U3_http.csv")
U3_file = pd.read_csv("./data/TNM0961/U3_file.csv")
U3_logon = pd.read_csv("./data/TNM0961/U3_logon.csv")
U3_psychometric = pd.read_csv("./data/TNM0961/U3_psychometric.csv")

# User 4 - MOH0273
U4_device = pd.read_csv("./data/MOH0273/U4_device.csv")
U4_email = pd.read_csv("./data/MOH0273/U4_email.csv")
U4_http = pd.read_csv("./data/MOH0273/U4_http.csv")
U4_file = pd.read_csv("./data/MOH0273/U4_file.csv")
U4_logon = pd.read_csv("./data/MOH0273/U4_logon.csv")
U4_psychometric = pd.read_csv("./data/MOH0273/U4_psychometric.csv")